####### Defined Values #########

# *** Value defines - IDs used later in config
#!ifdef WITH_DEBUG
#!define DBGLEVEL 3
#!else
#!define DBGLEVEL 2
#!endif

# - flags
#   FLT_ - per transaction (message) flags
#!define FLT_ACC 1
#!define FLT_ACCMISSED 2
#!define FLT_ACCFAILED 3
#!define FLT_NATS 5

#	FLB_ - per branch flags
#!define FLB_NATB 6
#!define FLB_NATSIPPING 7

# sachin
# Custom Flags
#!define FLT_DLG 1
#!define FLT_FROM_LOCAL 20
#!define FLT_FROM_PUBLIC 21

# global constants
#!define LOCAL_SUBNET 192.168.56.1/24
#!define PUBLIC_SUBNET 192.168.5.1/24

#!define LOCAL_INTERFACE_IP 192.168.56.131
#!define PUBLIC_INTERFACE_IP 192.168.5.31

#!define SIP_UDP_PORT 5060

#!define LOCAL_UDP_SOCKET udp:LOCAL_INTERFACE_IP:SIP_UDP_PORT
#!define PUBLIC_UDP_SOCKET udp:PUBLIC_INTERFACE_IP:SIP_UDP_PORT

#!ifdef WITH_MYSQL
#!subst "/DB_MYSQL_USER/kamailio/"
#!subst "/DB_MYSQL_PASS/kamailiorw/"
#!subst "/DB_MYSQL_HOST/localhost/"
#!subst "/DB_MYSQL_DATABASE/kamailio/"

# - database URL - used to connect to database server by modules such
#       as: auth_db, acc, usrloc, a.s.o.

#!trydef DBURL "mysql://DB_MYSQL_USER:DB_MYSQL_PASS@DB_MYSQL_HOST/DB_MYSQL_DATABASE"
#!endif

#!ifdef WITH_MULTIDOMAIN
# - the value for 'use_domain' parameters
#!define MULTIDOMAIN 1
#!else
#!define MULTIDOMAIN 0
#!endif

/* LOG Levels: 3=DBG, 2=INFO, 1=NOTICE, 0=WARN, -1=ERR, ... */
debug=DBGLEVEL

/* set to 'yes' to print log messages to terminal or use '-E' cli option */
log_stderror=no

memdbg=5
memlog=5

log_facility=LOG_LOCAL0
log_prefix="{$mt $hdr(CSeq) $ci} "

/* number of SIP routing processes for each UDP socket
 * - value inherited by tcp_children and sctp_children when not set explicitely */
children=8

/* uncomment the next line to disable TCP (default on) */
# disable_tcp=yes

/* number of SIP routing processes for all TCP/TLS sockets */
# tcp_children=8

/* uncomment the next line to disable the auto discovery of local aliases
 * based on reverse DNS on IPs (default on) */
# auto_aliases=no

/* add local domain aliases - it can be set many times */
# alias="sip.mydomain.com"

/* listen sockets - if none set, Kamailio binds to all local IP addresses
 * - basic prototype (full prototype can be found in Wiki - Core Cookbook):
 *      listen=[proto]:[localip]:[lport] advertise [publicip]:[pport]
 * - it can be set many times to add more sockets to listen to */
listen=LOCAL_UDP_SOCKET
listen=PUBLIC_UDP_SOCKET

/* life time of TCP connection when there is no traffic
 * - a bit higher than registration expires to cope with UA behind NAT */
tcp_connection_lifetime=3605

/* upper limit for TCP connections (it includes the TLS connections) */
tcp_max_connections=2048

#!ifdef WITH_JSONRPC
tcp_accept_no_cl=yes
#!endif

#!ifdef WITH_TLS
enable_tls=yes

/* upper limit for TLS connections */
tls_max_connections=2048
#!endif

/* set it to yes to enable sctp and load sctp.so module */
enable_sctp=no

