route[SET_RTP_REPLY] {
    xlog("L_INFO", "SET_RTP_REPLY | ENTERING ROUTE BLOCK\n");
    
    # Handle RTP response for all non failures
    if (sdp_content()) {
        $avp(originalSDP) = $rb;

        if(!isflagset(SDP_OFFER_RECV)) {
            rtpengine_offer("replace-origin replace-session-connection ICE=remove");
            setflag(SDP_OFFER_RECV);
        } else {
            rtpengine_answer("replace-origin replace-session-connection ICE=remove");
            setflag(SDP_ANSWER_RECV);
        }
    } 
}
